body {
    margin: 0;
    padding: 0;
    background-color: #018ebe;
    width: 100%;
}

.msg-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #018ebe;
    border-top: 0.2em solid white;
    height: 3em;
}

form {
    width: 100%;
    height: 100%;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0.5em;
}

.item-container {
     width: 100%;
     height: 100vh;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    padding: 1em;
    width: 100%;
    color: white;
    border-bottom: 0.2em solid white;
}

.item:last-child {
    margin-bottom: 1.5em;
}

.jdl-text {
    font-family: 'Indie Flower', cursive;
    flex: 7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.jdl-votes {
    width: 1em;
    flex: auto;
    text-align: center;
}

.item-color-1 {
    background-color: rebeccapurple;
}

.item-color-2 {
    background-color: #5c9935;
}

.item-color-3 {
    background-color: #356a99;
}

.item-color-4 {
    background-color: #993739;
}

.item-color-5 {
    background-color: #999124;
}
